body {
text-align: center;
width: 100%;
height: 100%;
font-size: 2em;
background-color: antiquewhite;
}

h1 {
  color: blue;
}

.submit {
  font-size: 1em;
  background-color: aqua;
  margin-top: 10%;
  margin-bottom: 10%;
}


.reset {
  font-size: 1em;
  background-color: purple;
  margin-top: 10%;
  margin-bottom: 10%;
}

.answer{
  background-color: black;
  font-size: 4em;
  margin-top: 20px;
  color: aliceblue;
}